._section_servlocal {
    display: flex;
    flex-direction: column;
}

.serv_local {
    background-color: black;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 300px;
}

.img_serv {
   width: 400px;
   height: auto;
}

.img_local {
    width: 600px;
    display: block;
   
} 

.local {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: -200px;
    width: 100%;
    margin-bottom: 60px;
}

.local p{ margin-top: 1rem;}
